<li>
    <%= user.name %> (<%= user.type %>) <a class="btn btn-success" href="/rolechange/<%= user.email %>/<%= user.type %>">Promote to Admin</a> <a class="btn btn-danger" href="/rolechange/<%= user.email %>/<%= user.type %>">Demote to User</a>
</li>